* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Rowdies', cursive;
background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#btn {
	margin-top: 20px;
	margin-left: 44%;
}

tr {
	background-color: cadetblue;
	color: black;
}

#ronda {
	font-size: 40px;
	text-align: center;
}

#button {
	width: 100px;
	margin: auto;
}

#informacion {
	display: flex;
}

#puntaje {
	font-size: 25px;
	float: left;
}

#taps {
	margin-left: 90%;
	font-size: 20px;
}

header h1 {
	margin: 30px 0px 20px 0px;
	text-align: center;
	font-size: 40px;
}

header p {
	font-size: 20px;
	text-align: center;
}

header div {
	margin: 50px 0px 30px 0px;
	text-align: center;
	font-size: 40px;
	color: white;
}

.pads {
	background: lightblue;
	width: 100%;
	display: flex;
}

.pads>div {
	height: 100px;
	width: 100px;
	flex: 1;
}

.pad1 {
	background: #60d394;
}

.pad2 {
	background: royalblue;
}

.pad3 {
	background: #ff3333;
}

.pad4 {
	background: greenyellow;
}

.pad5 {
	background: #ffa222;
}

.pad6 {
	background: violet;
}

@
keyframes jump { 0%{
	bottom: 0%;
	left: 20%;
}

50%{
bottom
:
 
50%;
left
:
 
50%;
}
100%{
bottom
:
 
0%;
left
:
 
80%;
}
}
.visual>div {
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	bottom: 0%;
	z-index: -1;
}